<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Username" value="test" />
    <add key="Password" value="123456" />
    <add key="VirtualHost" value="/" />
    <add key="HostName" value="121.42.187.74" />
    <add key="Port" value="5672" />
    <add key="Queue" value="mi-ocr-captcha,mi-ocr-captcha-report" />
    <add key="Exchange" value="mi-ocr-exchange" />
    <add key="Caffemodel" value="E:\CC\_iter_79500.caffemodel" />
    <add key="RedisHost" value="193.112.151.148" />
    <add key="RedisPort" value="6379" />
    <add key="RedisPassword" value="123456" />
    <add key="MONGODB_CONNECTION" value="mongodb://193.112.151.148:27017" />
    <add key="MONGODB_DB" value="mi-ocr" />
    <add key="RemoteUsername" value="wadezh,wadezh_user" />
    <add key="RemotePassword" value="weiwei5371958!" />
    <add key="RemoteToken" value="106750,87a37228817f46719efd6b0911f79999" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
