<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="Username" value="wade" />
    <add key="Password" value="wade" />
    <add key="VirtualHost" value="/" />
    <add key="HostName" value="139.199.211.96" />
    <add key="Port" value="5672" />
    <add key="QueueName" value="mi-ocr-captcha"/>
  </appSettings>
</configuration>
