<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <link rel="apple-touch-icon-precomposed" th:replace="${link} :: style('images/ios-desktop.png')">
    <link rel="shortcut icon" th:replace="${link} :: style('images/favicon.png')">
    <link rel="stylesheet" th:replace="${link} :: style('../layui/css/layui.css')">
    <link rel="stylesheet" th:replace="${link} :: style('../css/icon.css?family=Material+Icons')">
    <link rel="stylesheet" th:replace="${link} :: style('../css/roboto.css')">
    <link rel="stylesheet" th:replace="${link} :: style('../css/adwords.css')">
    <link rel="stylesheet" th:replace="${link} :: style('../css/components.css')">
    <link rel="stylesheet" th:replace="${link} :: style('../css/material.blue-light_blue.css')" />
    <link rel="stylesheet" th:replace="${link} :: style('../css/styles.css')">
    <link rel="stylesheet" th:replace="${link} :: style('../css/main.css')">
</th:block>