<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="left_menu">
    <aside class="mdl-components__nav docs-text-styling mdl-shadow--4dp mi-transition">
        <!--profile begin-->
        <ul class="main-menu">
            <li class="sub-menu system_menus system_1 0 toggled" style="display: list-item;">
                <a class="waves-effect" href="javascript:;"><i class="mi mi-accounts-list"></i> 系统组织管理</a>
                <ul style="display: block;">
                    <li class=""><a class="waves-effect" href="javascript:Tab.addTab('系统管理', 'crud.html');">系统管理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('组织管理', '/manage/organization/index');">组织管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 3 toggled" style="display: list-item;">
                <a class="waves-effect" href="javascript:;"><i class="mi mi-accounts"></i> 角色用户管理</a>
                <ul style="display: block;">
                    <li><a class="waves-effect" href="javascript:Tab.addTab('角色管理', '/manage/role/index');">角色管理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('用户管理', '/manage/user/index');">用户管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 6" style="display: list-item;">
                <a class="waves-effect" href="javascript:;"><i class="mi mi-lock-outline"></i> 权限资源管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('权限管理', '/manage/permission/index');">权限管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 7" style="display: list-item;">
                <a class="waves-effect" href="javascript:;"><i class="mi mi-more"></i> 其他数据管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('公共码表', '/manage/coder/index');">公共码表</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('会话管理', '/manage/session/index');">会话管理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('日志记录', '/manage/log/index');">日志记录</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('键值设置', '/manage/map/index');">键值设置</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_2 12" style="display: none;">
                <a class="waves-effect" href="javascript:;"><i class="mi mi-menu"></i> 标签类目管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('标签管理', '/manage/tag/index');">标签管理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('类目管理', '/manage/category/index');">类目管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_2 15" style="display: none;">
                <a class="waves-effect" href="javascript:;"><i class="mi mi-collection-text"></i> 文章内容管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('文章管理', '/manage/article/index');">文章管理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('回收管理', '/manage/article/recycle');">回收管理</a></li>
                </ul>
            </li>
        </ul>
        <!--profile end-->
    </aside>
</th:block>