.mi-center{
    margin:0 auto;
    width: 100%;
    padding:50px;
    margin-top: 50px;
}

.mi-center h4{
    color: #000;
}

.mi-center .mdl-textfield{
    display: block;
}

.mi-button-blue{
    border-color: #00bfa5;
    border-bottom-width: 2px;
    outline: 0;
    padding-bottom: 7px
}

.mi-login-layout-button{
    width: 140px;
    margin-right: 10px;
}

.mdl-textfield.is-focused .mdl-textfield__input{
    position: relative;
    top:10px;
}

.mdl-textfield{
    width:100%;
}

.mdl-textfield__error{
    margin-top: 15px;
    margin-bottom: 15px;
}

.mdl-textfield__label:after {
    background-color: transparent !important;
    height: 4px;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%
}


.mdl-textfield.is-focused .mdl-textfield__expandable-holder,.mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
    max-width: 600px
}

.mdl-textfield__expandable-holder .mdl-textfield__label:after {
    bottom: 0
}


.input-text-green:focus {
    border-color: #00bfa5 !important;
    border-bottom-width: 2px;
    outline: 0;
    padding-bottom: 7px
}

.input-text-blue:focus {
    border-color: #00B0FF !important;
    border-bottom-width: 2px;
    outline: 0;
    padding-bottom: 7px
}