<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" th:content="${keywords}">
    <meta name="description" th:content="${description}">
    <title th:text="${title} + '-用户中心'"></title>
    <link rel="stylesheet" href="../css/user.css">
</head>
<body>
<th:block layout:fragment="body">
    <!--content begin-->
    <main class="docs-layout-content mdl-layout__content mdl-color-text--grey-600">
        <div class="content mdl-grid mdl-grid--no-spacing" id="content">
            <div class="mdl-components mdl-js-components mdl-cell mdl-cell--12-col">
                <!--left menu begin-->
                <th:block th:replace="layout/left_menu :: left_menu"/>
                <!--left menu end-->

                <!--main begin-->
                <main class="mdl-layout__content">

                    <!--sum begin-->
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--4-col mi-cell-sum mi-shadow--2dp mi-top-border mi-border-color-green">
                            <table width="80%" class="mi-cell-sum-table">
                                <td width="76px">
                                    <div class="x-block-icon" style="background-color: rgb(0, 137, 240);">
                                        <i tip="" class="iconfont icon-overview-balance"></i>
                                    </div>
                                </td>
                                <td>
                                    <span>余额：</span><br>
                                    <strong class="balance">10.0000</strong>
                                </td>
                            </table>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mi-cell-sum mi-shadow--2dp">
                            <table width="80%" class="mi-cell-sum-table">
                                <td width="76px">
                                    <div class="x-block-icon" style="background-color: rgb(0, 137, 240);">
                                        <i tip="" class="iconfont icon-overview-balance"></i>
                                    </div>
                                </td>
                                <td class="x-block-right">
                                    <span>可开票金额：</span><br>
                                    <strong class=" deactive">￥0.00</strong>
                                </td>
                            </table>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col mi-cell-sum mi-shadow--2dp">
                            <table width="80%" class="mi-cell-sum-table">
                                <td width="76px">
                                    <div class="x-block-icon" style="background-color: rgb(0, 137, 240);">
                                        <i tip="" class="iconfont icon-overview-balance"></i>
                                    </div>
                                </td>
                                <td class="x-block-right">
                                    <!--_d73157-->
                                    待续费实例：<a data-track-id="blocks" data-track-name="待续费实例" target="_self" title=""
                                             href="/billing/#/renew/list"><!--_d73160--><strong>0</strong><!--_d73160-->
                                </a><br>
                                    待支付订单：<a data-track-id="blocks" data-track-name="待支付订单" target="_self" title=""
                                             href="/billing/#/order/list~filters=%5B%5B%22status%22%2C%22UNPURCHASED%22%5D%5D">
                                    <!--_d73165--><strong>0</strong><!--_d73165--></a>
                                    <!--_d73157-->
                                </td>
                            </table>
                        </div>
                    </div>
                    <!--sum end-->

                    <!--charts begin-->
                    <div class="mdl-grid">
                        <div class="mi-shadow--2dp mdl-cell mdl-cell--9-col mi-cell-background mi-cell-charts">
                            <div class="column">
                                <div class="left">消费趋势</div>
                                <div class="right">近一个月</div>
                            </div>
                            <div id="echarts" style="width: 100%;height:80%; margin-left: 10px"></div>
                        </div>
                        <div class="mi-shadow--2dp mdl-cell mdl-cell--3-col">
                            <div class="mi-cell-background mi-shadow--2dp">
                                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect mi-news">
                                    <dialog class="mdl-dialog mi-top-border mi-border-color-blue">
                                        <h6>【升级】服务器升级通知</h6>
                                        <small>2018/07/03</small>
                                        <div class="mdl-dialog__content">
                                            <p>
                                                于2018年7月14日~2018年7月24日期间，本系统将进入维护阶段，请您提前安排好工作事宜，给您造成不便，很抱歉
                                            </p>
                                        </div>
                                        <div class="mdl-dialog__actions">
                                            <button type="button" class="mdl-button close">关闭</button>
                                        </div>
                                    </dialog>

                                    <div class="mdl-tabs__tab-bar">
                                        <a href="#starks-panel" class="mdl-tabs__tab is-active">公告</a>
                                        <a href="#lannisters-panel" class="mdl-tabs__tab">站内信</a>
                                    </div>
                                    <div class="mdl-tabs__panel is-active" id="starks-panel">
                                        <table class="mdl-data-table mdl-js-data-table mi-xs-table">
                                            <tbody>
                                            <tr>
                                                <td class="mdl-data-table__cell--non-numeric" style="width: 70%">
                                                    <a href="#">测试测试测试测试测试测试测试测试测试测试测试测试</a>
                                                </td>
                                                <td>2018.07.13</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mdl-tabs__panel" id="lannisters-panel">
                                        <ul>
                                            <li>Tywin</li>
                                            <li>Cersei</li>
                                            <li>Jamie</li>
                                            <li>Tyrion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--charts end-->


                </main>
                <!--main end-->
            </div>
        </div>
    </main>
    <!--content end-->
</th:block>
<th:block layout:fragment="free_footer">
    <script src="../js/user.js"></script>
    <script src="../js/echarts.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echarts'), 'light');

        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['邮件营销', '联盟广告', '视频广告']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    /*saveAsImage: {}*/
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210],
                    smooth: true
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    data: [220, 182, 191, 234, 290, 330, 310],
                    smooth: true
                },
                {
                    name: '视频广告',
                    type: 'line',
                    stack: '总量',
                    data: [150, 232, 201, 154, 190, 330, 410],
                    smooth: true
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</th:block>
</body>
</html>
