<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.millions.idea.ocr.web.user.repository.mapper.IWalletMapperRepository">
    <update id="reduce">
        UPDATE wallet SET balance = balance - 1 *  WHERE uid = #{uid}
    </update>
</mapper>